/* Coolors Exported Palette - coolors.co/424b54-93a8ac-ffffff-0d1f22-ba2d0b */

/* HSL */
$primary: rgba(117, 162, 170, 1);
$secondary: rgba(13, 31, 34, 1);
$grey: rgba(66, 75, 84, 1);
$light: rgba(255, 255, 255, 1);
$highlight: rgba(186, 45, 11, 1);
